[Unit]
Description=IPv6 DDNS Monitor and Update Service
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=%h/ddnsmart
ExecStart=/usr/bin/python3 %h/ddnsmart/simple-ddns.py %h/ddsmart/config

Restart=always
RestartSec=120

[Install]
WantedBy=default.target

